#wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

#left-panel {
    flex: 2;
    background-color: #2f4f4f;
}

#game {
    flex: 10;
}

#right-panel {
    flex: 5;
    background-color: #182d3b;
    display: flex;
    align-items: center;
}

#dashboard {
    background-color: white;
    width: 300px;
    height: 620px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

#history-chart {
    flex: 7;
    overflow: auto;
}

#history-row {
    height: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

#history-cell {
    padding-left: 10px;
    flex: 3;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#history-cell:hover {
    background-color: gold;
}

#turn-label {
    flex: 1;
    height: 30px;
    line-height: 30px;
    background-color: grey;
    text-align: center;
}

#piece {
    display: inline-block;
}

#piece-icon {
    width: 60px;
    length: 60px;
}

#pawn-replacement-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#piece-option {
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 1em #337ab7;
    cursor: pointer;
}

#players-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#player {
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 1em #337ab7;
    width: 47%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#switch-img {
    position: absolute;
    left: 160px;
    top: 100px;
    height: 70px;
    width: 70px;
    cursor: pointer
}

.lost-pieces {
    background-color: grey;
    flex: 1;
    overflow: auto;
    white-space: nowrap;
}

.top {
    border-radius: 10px 10px 0px 0px;
}

.bottom {
    border-radius: 0px 0px 10px 10px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
}

.modal-content {
    position: relative; /* need this for animation to work */
    margin: 10%;
    border-radius: 10px;
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 280px;
    box-shadow: 0 0 1em black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    flex: 2;
    border-bottom: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    display: flex;
    align-items: center;
}

.modal-body {
    position: relative;
    flex: 8;
}

.modal-footer {
    flex: 2;
    border-top: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-width: 1px;
    border-color: #d3d3d3;
}

.modal-title {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}

.modal-btn {
    width: 20%;
    height: 60%;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.accept-btn {
    background-color: #337ab7;
    color: white;
}

.cancel-btn {
    background-color: white;
    border-color: #d3d3d3;
    border-width: 1px;
}

.reset-btn {
    background-color: gold;
}

.selected {
    background-color: #337ab7;
}

/* Add Animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animatetop {
    from { top: 0px; opacity: 0 }
    to { top: 200px; opacity: 1 }
}

/* Standard syntax */
@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

input[type=text] {
    width: 65%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
}
